<!DOCTYPE html>
<html lang="en">
  <head>
    <title>OrdersNOW!</title>
    <meta property="og:title" content="OrdersNOW!"/>
    <meta property="og:type" content="website" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#0923fe" />
    <meta name="turbo-cache-control" content="no-cache">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="layout-public d-flex overflow-hidden" data-controller="layout">
    <div id="main" class="vh-100">
       <%= yield %>
    </div>
  </body>
</html>
